.feed-status{
    display: flex;
    gap: 36px;
}

.list-number-container{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.list-number {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 1fr);
    gap:8px;
}