@import url('@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css');
@import url('@ya.praktikum/react-developer-burger-ui-components/dist/ui/fonts/fonts.css');
@import url('@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --offset-base-size: 4px;

  --gray-main: rgba(133, 133, 173, 1);
  --color-main: rgba(28, 28, 33, 1);
  --color-active-link: rgba(242, 242, 243, 1);
  --color-link:rgba(76, 76, 255, 1);
  --color-bg-ingredient:rgba(19, 19, 22, 1);
  --color-border-ingredinet:linear-gradient(rgba(128, 26, 178, 1), rgba(76, 76, 255, 1));
  --color-shadow-digit:rgba(51, 51, 255, 0.5);
  --color-access:rgba(0, 204, 204, 1)
}

ul {
  list-style-type: none;
}

.disabled {
  color: var(--gray-main);
}

.disabled svg path {
  fill: var(--gray-main);
}

.container {
  display: flex;
  max-width: 1280px;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 60%;

  z-index: 400;
  cursor: pointer;
}

.scroll {
  overflow: auto;
  scrollbar-color: var(--gray-main) rgba(47, 47, 55, 1);
  scrollbar-width: thin;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  justify-items: center;
  gap: 40px;
  flex: 1 auto;
}

a {
  text-decoration: none;
}

.active-link {
  color: var(--color-active-link);
}

.link-click{
  color: var(--color-link);
}