.app-header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    background: var(--color-main);
}

.app-header__item {
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.nav__item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: var(--gray-main);
}

.active-link {
    color: var(--color-active-link);
}